*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family:'Vogue';
    src: url(./Fuentes/Vogue.ttf);
}
body{
    height: 100vh;
    background-color:#1c1c1c;
}
.m1{
    width: 50%;
    height: 92vh;
    float: left;
}
#SOFTUX{
    height: 15vh;
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
}
#Logo{
    height: 30%;
    width: 30%;
    margin-top: 10%;
    margin-left: 34%;
}
.letras{
    color: #fff;
    font-family: 'Vogue';
    margin-top: 10%;
    margin-left: 15%;
    font-size: 3vh;
}
#img{
    width: 50%;
    height: 100vh;
    float: right;
    margin-top: -7vh;
}
.linea label{
    font-size: 5vh;
    cursor: pointer;
    color: white;
    margin-left: 1%;
    display: flex;
}
#pe{
    display: none;
}
.fondo-pestaña{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    transition: all 1000ms ease;
    opacity: 0;
    visibility: hidden;
}
#pe:checked~ .fondo-pestaña{
    opacity: 1;
    visibility: visible;
}
.pestaña-P{
    width: 100%;
    max-width: 50vh;
    background-color: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 1000ms ease;
    transform: translateX(1%);
}
#pe:checked~ .pestaña-P .fondo-pestaña{
    transform: translateX(0%);
}
.pestaña-P nav{
    transform: translateY(15%);
} 
.pestaña-P nav a {
    display: block;
    text-decoration: none;
    padding: 1vh;
    color: #c7c7c7;
    border-left: 1vh solid transparent;
    transition: all 400ms ease;
    font-size: 3vh;
}
.pestaña-P nav a:hover{
    border-left: 1vh solid #c7c7c7;
    background: #1f1f1f;
    font-size: 2vh;
}
.pestaña-P label{
    position: absolute;
    right: 1vh;
    top: 2vh;
    color: #fff;
    cursor: pointer;
    font-size: 3.2vh;
}