*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./imagenes/mv.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.linea label{
    display: flex;
    float: left;
    font-size: 5vh;
    cursor: pointer;
    color: white;
    margin-left: 1vh;
}
#pe{
    display: none;
}
.fondo-pestaña{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    transition: all 1000ms ease;
    opacity: 0;
    visibility: hidden;
}
#pe:checked~ .fondo-pestaña{
    opacity: 1;
    visibility: visible;
}
.pestaña-P{
    width: 100%;
    max-width: 50vh;
    background-color: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 1000ms ease;
    transform: translateX(1%);
}
#pe:checked~ .pestaña-P .fondo-pestaña{
    transform: translateX(0%);
}
.pestaña-P nav{
    transform: translateY(15%);
} 
.pestaña-P nav a {
    display: block;
    text-decoration: none;
    padding: 1vh;
    color: #c7c7c7;
    border-left: 1vh solid transparent;
    transition: all 400ms ease;
}
.pestaña-P nav a:hover{
    border-left: 1vh solid #c7c7c7;
    background: #1f1f1f;
    font-size: 2vh;
}
.pestaña-P label{
    position: absolute;
    right: 1vh;
    top: 2vh;
    color: #fff;
    cursor: pointer;
    font-size: 3.2vh;
}